name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install risc0 toolchain
        run: |
          curl -L https://risczero.com/install | bash
          echo "$HOME/.risc0/bin" >> "$GITHUB_PATH"
      - name: Install risc0 components
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          rzup install --verbose --force cargo-risczero 3.0.1
          rzup install --verbose --force r0vm 3.0.1
          rzup install --verbose --force rust 1.88.0
          rzup install --verbose --force cpp

      - name: Build
        run: cargo build -p libveritas

      - name: Run tests
        run: cargo test -p libveritas
